/* === Header Admin === */
.header-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Điều chỉnh padding để cân đối */
  margin-left: 270px; /* Giảm khoảng cách khi sidebar mở */
  background-color: #1a1a2e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: margin-left 0.3s ease; /* Hiệu ứng mượt khi sidebar collapse */
}

.header-admin:hover {
  background-color: #1a1a2e !important;
}


.admin-dashboard.collapsed .header-admin {
  margin-left: 140px; /* Khi sidebar thu gọn */
}

.header-left h1 {
  font-size: 24px;
  margin: 0;
  white-space: nowrap; /* Đảm bảo tiêu đề không bị xuống dòng */
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

/* === Header Right === */
.header-right {
  display: flex;
  align-items: center;
  margin-right: 260px;
  gap: 20px; /* Giảm khoảng cách giữa các icon */
}

.admin-dashboard.collapsed .header-right {
  margin-right: 130px; /* Khi sidebar thu gọn */
}

.icon-container {
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 20px;
  color: white;
  transition: color 0.3s ease;
}

.badge {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* chuông thông báo booking từ phía user */

.notification-popup {
  position: absolute;
  top: 60px;
  right: 370px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item p {
  margin: 0;
  font-size: 14px;
}

.notification-item small {
  color: #888;
  font-size: 12px;
}

.new-notification-dot {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #007bff; /* Màu xanh nước biển */
  border-radius: 50%;
}

